
@{
    ViewBag.Title = "Index";
}
<style>
    [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none !important;
    }

    .thumbnail {
        border: 2px dotted #808080; /* Gray border */
        border-radius: 4px; /* Rounded border */
        padding: 10px; /* Some padding */
    }

    img {
        border-radius: 8px; 
    }
</style>
<h2>Image Scraper</h2>
<p class="help-block"><small>powered by: pexels.com</small></p>
<div ng-app="mainApp">
    <div class="container" ng-controller="imgScrapeController as imgScrapeCtrl" ng-cloak>
        <div class="container-fluid">
            <div class="row">
                <form name="imgForm">
                    <input type="text" placeholder="Search" ng-model="imgScrapeCtrl.img" required>
                    <button class="btn btn-primary btn-xs" ng-click="imgScrapeCtrl.search()">
                        Go!
                    </button>
                </form>
            </div>
        </div>
        <div class="container-fluid">
            <div ng-repeat="item in imgScrapeCtrl.items" class="thumbnail col-sm-4">
                <img ng-src="{{item}}" class="img-responsive single" style="width:300px; height:300px;">
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/angularjs/angular.min.js"></script>
    <script src="~/Scripts/App/mainApp.js"></script>  
    <script src="~/Scripts/App/DataScrape/ImgScrapeController.js"></script>
    <script src="~/Scripts/App/DataScrape/ImgScrapeService.js"></script>
}
