
@{
    ViewBag.Title = "Random";
}

<h2>Random</h2>
<div ng-app="mainApp">
    <div class="container" ng-controller="dataPickerCtrl as pickCtrl" ng-cloak>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary btn-xs">Randomize</button>
                    <h4></h4>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/angularjs/angular.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/App/mainApp.js"></script>    
    <script src="~/Scripts/App/DataPicker/DataPicker.js"></script>    
    <script src="~/Scripts/App/People/PeopleService.js"></script>
}


