
@{
    ViewBag.Title = "Click to Pick";
}
<h2>Random</h2>
<div ng-app="mainApp">
    <div class="container" ng-controller="dataPickerCtrl as pickCtrl" ng-cloak>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <span>Click the button to see who gets to choose today's lunch  or dinner option</span><br/>
                    <button type="button" class="btn btn-primary btn-xs personBtn">Randomize</button>
                    <h4>The Decider: <span class="winner"></span></h4>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6" id="selections">
                        <label class="control-label">Cuisines</label>
                        <p class="help-block"><small>Mark selections:</small></p>

                        <label class="checkbox-inline">
                            <input type="checkbox" id="american" value="American"> American
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="burgers" value="Burgers"> Burgers
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="thai" value="Thai"> Thai
                        </label><br>
                        @*BREAK*@
                        <label class="checkbox-inline">
                            <input type="checkbox" id="italian" value="Italian"> Italian
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="pizza" value="Pizza"> Pizza
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="vietnamese" value="Vietnamese"> Vietnamese
                        </label><br>
                        @*BREAK*@
                        <label class="checkbox-inline">
                            <input type="checkbox" id="steak" value="Steak House"> Steak House
                        </label>                      
                        <label class="checkbox-inline">
                            <input type="checkbox" id="bbq" value="BBQ"> BBQ
                        </label><br>
                        @*BREAK*@
                        <label class="checkbox-inline">
                            <input type="checkbox" id="chinese" value="Chinese"> Chinese
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="french" value="French"> French
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="sushi" value="Sushi"> Sushi
                        </label><br>
                        @*BREAK*@
                        <label class="checkbox-inline">
                            <input type="checkbox" id="mexican" value="Mexican"> Mexican
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="german" value="German"> German
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="healthy" value="Healthy"> Healthy
                        </label><br>
                        @*BREAK*@
                        <label class="checkbox-inline">
                            <input type="checkbox" id="mediterranean" value="Mediterranean"> Mediterranean
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="deli" value="Deli"> Deli
                        </label><br>
                        @*BREAK*@
                        <label class="checkbox-inline">
                            <input type="checkbox" id="seafood" value="Seafood"> Seafood
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="pubBrew" value="Pub/Brewery"> Pub/Brewery
                        </label><br>
                        @*BREAK*@
                        <label class="checkbox-inline">
                            <input type="checkbox" id="japanese" value="Japanese"> Japanese
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="korean" value="Korean"> Korean
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="ramen" value="Ramen"> Ramen
                        </label><br />
                        @*BREAK*@    
                        <label class="checkbox-inline">
                            <input type="checkbox" id="south" value="Southern"> Southern
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="wineBar" value="Wine Bar"> Wine Bar
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="cafe" value="Cafe"> Cafe
                        </label><br />
                        @*BREAK*@
                                            
                        <br />
                        <div class="resultBox">
                            <button type="button" class="btn btn-primary btn-xs foodBtn">Let's Pick</button>
                            <h4>Food of Choice: <span class="foodChoice"></span></h4>
                        </div>
                        </div>                          
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/angularjs/angular.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/App/mainApp.js"></script>    
    <script src="~/Scripts/App/DataPicker/DataPicker.js"></script>    
    <script src="~/Scripts/App/People/PeopleService.js"></script>  
    @*<script src="~/Scripts/App/DataScrape/ImgScrapeService.js"></script>*@
}


